@media screen and (min-width: 992px) {
  * {
    padding: 0;
    margin: 0;
    font-family: roboto;
  }
  header .back-icon {
    position: relative;
    font-size: 20px;
    color: black;
    top: 26px;
    left: 16px;
  }
  header .logo {
    text-align: center;
  }
  header img {
    width: 52%;
  }
  main .back-img {
    background-image: url(image/restaurants/bastille.jpg.jpg);
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
    height: 447px;
  }
  main .restaurant-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #e1e6e5;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    margin-top: -54px;
  }
  main .restaurant-name .fa-heart {
    font-size: 30px;
    padding-right: 85px;
  }
  main .restaurant-name h1 {
    padding-left: 85px;
  }
  main .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #e1e6e5;
    padding-bottom: 70px;
    padding-top: 48px;
  }
  main h1 {
    padding-bottom: 15px;
  }
  main .main-menu {
    width: 30%;
  }
  main .menu-card {
    background-color: #f1f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 15px;
    /* padding: 0px; */
    height: 74px;
    border-radius: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
    -webkit-animation: drop 2s linear 0s 1 normal forwards;
            animation: drop 2s linear 0s 1 normal forwards;
  }
  main .menu-card .tittle {
    padding-bottom: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  main .menu-card .tittle-menu {
    font-size: 20px;
  }
  main .menu-card .price {
    padding-bottom: 15px;
    padding-right: 10px;
  }
  main .menu-card .chick {
    background-color: #d1ced3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    width: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .menu-card .fa-check-circle {
    display: none;
  }
  main .menu-card:hover .chick {
    width: 20%;
    -webkit-animation: slid 1s linear 0s 0.8 normal forwards;
            animation: slid 1s linear 0s 0.8 normal forwards;
  }
  main .menu-card:hover:hover .fa-check-circle {
    width: 20%;
    display: block;
    padding: 20px;
    font-size: 24px;
    -webkit-animation: slid-up-down 1s linear 0s 1 forwards;
            animation: slid-up-down 1s linear 0s 1 forwards;
  }
  main .btn {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 48px;
    background-color: #f1f8f8;
  }
  main .btn .order-btn {
    width: 21%;
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    color: wheat;
    border: 0px;
  }
  main .btn .order-btn:hover {
    background-color: #0f1414;
  }
  @-webkit-keyframes slid {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }
  @keyframes slid {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }
  @-webkit-keyframes slid-up-down {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  @keyframes slid-up-down {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  footer {
    background-color: #0e0a0a;
    color: #dfeaec;
    margin-top: -20px;
    width: 100%;
  }
  footer h1 {
    margin-left: 20px;
    font-family: shrikhand;
  }
  footer li {
    list-style-type: none;
    margin-bottom: 6px;
    margin-left: 17px;
    padding-bottom: 8px;
  }
  footer a {
    color: #f4ecec;
    text-decoration: none;
  }
  footer .fot-but {
    margin-left: 20px;
  }
  @-webkit-keyframes drop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      margin-top: 8px;
    }
  }
  @keyframes drop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      margin-top: 8px;
    }
  }
  @keyframes slid {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }
}
/*# sourceMappingURL=desktop-menu.css.map */